---
layout: page
title: Blog
---
<section class="post-list">
    {% assign blog_posts = site.posts | where: "category", "blog" %}
    {% if blog_posts.size == 0 %}
        <p class="text-center">Nothing published yet!</p>
    {% endif %}
    {% for post in blog_posts %}
        {% if post.hidden != true %}
            <a class="post-row" href="{{ post.url }}">
                <span class="idx">{% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}</span>
                <span class="post-row-body">
                    <span class="post-row-title">{{ post.title }}</span>
                    {% if post.description %}
                        <span class="post-row-desc">{{ post.description }}</span>
                    {% endif %}
                </span>
                <time class="post-row-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %d, %Y" }}</time>
            </a>
        {% endif %}
    {% endfor %}
</section>
